<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
     <p>Team Name: <%= @all[:name] %></p>
     <p>Coach: <%= @all[:coach] %></p>
     <p>Point Guard: <%= @all[:pg] %></p>
     <p>Shooting Guard: <%= @all[:sg] %></p>
     <p>Small Forward: <%= @all[:sf] %></p>
     <p>Power Forward: <%= @all[:pf] %></p>
     <p>Center: <%= @all[:c] %></p>
 </body>
</html>

